.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
    /* text-transform: capitalize; */
    

}

a > span:hover {
    color: red;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}
/* header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.header__icon {
    height: 50px;
    margin-right: 20px;
}

.headerLeft span {
    margin-right: 20px;
    cursor: pointer;
}

.headerRight {
    display: flex;
    align-items: center;
}

.searchInput {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px 0 0 4px;
}

.searchButton {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: #ffcc00;
    cursor: pointer;
}
