
    @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
   .App{
        font-family: 'Rubik', sans-serif;
    background-color: black; 
    color: white;
    } 
    /* Responsive adjustments */
@media (max-width: 768px) {
    .App {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .App {
        padding: 5px;
    }
}