/* searchResults.css */
.search__results {
    padding: 20px;
  }
  
  .results__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .results__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  